@import '../../../src/containers/App/styles/screens';

$text-color-heading: #252525;
$text-color-desc: #4d4d4d;

:local(.styles) {

  @media (min-width: 768px) and (max-width: 992px) {
    height: 340px;
  }

  @media (#{ $phone }) {
    height: 320px;
  }

  .greeting {
    color: $text-color-heading;
    font-size: 7rem;
    text-align: left;
  }

  .title {
    color: $text-color-heading;
    font-size: 6rem;
    margin-top: 4rem;
    text-align: left;
  }

  .desc {
    color: $text-color-desc;
    font-size: 2rem;
    text-align: left;
  }
}